/* external css */
/* styling... */
/* selectors */

*{
    margin: 0;
    padding: 0;
}

h1{
    background-color: yellowgreen;
    border: 3px solid red;
    border-radius: 10px;
    padding: 5px;
    color: #333;
}

.forms{
    background: url("../HTML 5/images/form.avif") no-repeat top;
    background-size: cover;
    height: 650px;
}

#form{
    color: rgba(255, 0, 0, 0.9);
}

h2, p{
    color: rgb(140, 10, 255);
}

div label{
    color:#000000;
}